---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import { Content } from "../content/ccw.md";
---

<Layout title="Privacy Policy">
  <main class="mx-16 my-64 md:max-w-xl">
    <Prose>
      <Content />
    </Prose>
  </main>
</Layout>
